---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "Won",
  location: "Seattle",
  occupation: "Software Engineer",
  hobbies: ["weight lifting", "reading books"],
};

const happy = true;
const finished = true;
const goal = 3;

const skills = ["HTML", "CSS", "JavaScript", "Java", "Astro", "Writing Docs"];
const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
    <h2 class="mb-5 italic text-2xl leading-none tracking-tight text-gray-900 dark:text-white">
        TL;DR: I love building stuff
    </h2>

    <p class="mb-6 text-lg font-normal text-gray-500 text-xl dark:text-gray-400">
        My name is {identity.firstName}. I live in {identity.location} and I work as a {identity.occupation}.
    </p>
    <p class="mb-6 text-lg font-normal text-gray-500 text-xl dark:text-gray-400">
        I started out as a front end dev but now I have been working as a back end dev for 3 years.
    </p>
    <p class="mb-6 text-lg font-normal text-gray-500 text-xl dark:text-gray-400">
        Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
    </p>
    <p class="mb-6 text-lg font-normal text-gray-500 text-xl dark:text-gray-400">
        My skills are:
    </p>
    <ul>
        {skills.map((skill) => 
            <span class="m-1 inline-flex items-center px-2 py-1 mr-2 text-sm font-medium text-gray-800 bg-gray-100 rounded dark:bg-gray-700 dark:text-gray-300">
                {skill}
            </span>
        )}
    </ul>
</BaseLayout>
